{{#tr-editor as |e|}}
    {{#e.label}}
        {{tr-error-tooltip errors=errors}}
        {{label}}
        {{tr-info-tooltip title=title content=info}}
    {{/e.label}}
    {{#if prefix}}
        {{#e.prefix}}
            {{as-html prefix}}
        {{/e.prefix}}
    {{/if}}
    {{#e.content}}
        <div class="rating-editor-content">
            <div class="rating-editor-content-fill {{if fillBackground 'fill-background'}}" style="width: {{_percentage}}%;">
                <span>
                    {{#each (range 0 repeat)}}{{glyph}}{{/each}}
                </span>
            </div>
            <div class="rating-editor-content-empty">
                <span>
                    {{#each (range 0 repeat)}}{{glyph}}{{/each}}
                </span>
            </div>
        </div>
        {{yield}}
    {{/e.content}}
    {{#if postfix}}
        {{#e.postfix}}
            {{as-html postfix}}
        {{/e.postfix}}
    {{/if}}
{{/tr-editor}}
