{{!--#tr-listview--}}
    {{!-- yields {tr-sticky-header} header --}}
    {{!-- yields {tr-container} menu --}}
    {{!-- yields {tr-container} itemsHeader --}}
    {{!-- yields {*} data --}}
    {{!-- yields {tr-container} itemTemplate --}}
{{!--/tr-listview--}}

{{#tr-scroll-panel autohide=scrollbarAutohide}}
    {{!--#tr-sticky-header showHeader=showHeader showMenu=showMenu header=header subheader=subHeader as |sh|}}
        {{#sh.header}}
            {{yield (hash header=(component 'tr-container' tagName='' context=items))}}
        {{/sh.header}}
        {{#sh.content}}
            {{yield (hash headerContent=(component 'tr-container' tagName='' context=items))}}
        {{/sh.content}}
        {{#sh.menu}}
            {{yield (hash menu=(component 'tr-container' tagName='' context=items))}}
        {{/sh.menu}}
    {{/tr-sticky-header--}}
    {{yield (hash header=(component 'tr-sticky-header'))}}
    {{yield (hash customHeader=(component 'tr-container' tagName=''))}}
    {{!--yield (hash header=(component 'tr-sticky-header'))}}
    {{yield (hash menu=(component 'tr-sticky-menu'))--}}
    {{yield (hash itemsHeader=(component 'tr-contentpresenter' classNames='tr-listview-items-header'))}}
    <div style="position: relative;">
        {{#if items}}
            <ul class="tr-listview-items">
                {{#each _items as |item|}}
                    {{#if linkRouteName}}
                        {{!-- Enable .active on the li element --}}
                        {{#link-to linkRouteName item.id current-when=linkRouteCurrentWhen tagName="li" href=false class="tr-listview-item" classNameBindings="itemClass"}}
                            {{#link-to linkRouteName item.id}}
                                <div class="tr-listview-item-content">
                                    {{yield (hash data=item.item itemTemplate=(component 'tr-container' context=item.item))}}
                                </div>
                            {{/link-to}}
                        {{/link-to}}
                    {{else}}
                        <li class="tr-listview-item {{itemClass}} {{if (compare item selectedItem) 'active'}}" {{action "select" item.item}}>
                            <div class="tr-listview-item-content">
                                {{yield (hash data=item.item itemTemplate=(component 'tr-container' context=item.item))}}
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        {{else}}
            {{yield (hash empty=(component 'tr-contentpresenter' classNames='tr-listview-empty'))}}
        {{/if}}

        {{#if isBusy}}
            {{yield (hash busy=(component 'tr-contentpresenter' classNames='tr-listview-busy'))}}
        {{/if}}
    </div>
    {{yield (hash itemsFooter=(component 'tr-contentpresenter' classNames='tr-listview-items-footer'))}}
{{/tr-scroll-panel}}
