{{#g-map lat=lat lng=lng zoom=zoom
         disableDefaultUI=disableDefaultUI
         zoomControl=zoomControl zoomControlOptions=zoomControlOptions
         onClick=(action "onClick") as |g|}}
    {{#g.overlay lat=(if lat lat 0.0001) lng=(if lng lng 0.0001)}}
        <div class="tr-map-editor-pin">
            {{title}}
        </div>
    {{/g.overlay}}
    {{#if coordinates}}
        {{#if connectCoordinates}}
            {{g.polyline path=coordinates
                         icons=_polyLineIcons
                         geodesic=true
                         strokeColor=color
                         strokeOpacity=1.0
                         strokeWeight=3}}
        {{/if}}
        {{#if showCoordinateMarkers}}
            {{#each coordinates as |l|}}
                {{g.marker
                        lat=l.lat
                        lng=l.lng
                        draggable=false
                        onClick=(action "onMarkerClick")}}
            {{/each}}
        {{/if}}
    {{/if}}
{{/g-map}}
{{#unless disableCoordinates}}
<small class="tr-map-editor-location fade margin-h">Latitude {{lat}}, Longitude {{lng}}</small>
{{/unless}}
{{#unless disableAddressSearch}}
    <div class="padding-all">
        {{#tr-label}}Adresse suchen{{/tr-label}}
        <div>
            {{tr-text-editor value=address}}
            {{tr-button-editor text="Suchen" onClick=(action 'geocodeAddress')}}
        </div>
    </div>
{{/unless}}
{{yield}}