<table>
  <thead>
    <tr>
      {{#each headerDefinition as |h|}}
        <th>
          {{yield (hash headerTemplate=(component "tr-table/tr-table-column-header-presenter" 
            columnDefinition=h
            toggleSorting=(action "toggleSorting" h)
            columnState=(get columnStates h.attributeName)
            applyColumnFilter=(action "applyColumnFilter" h)
            ))}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each tableData as |rowData|}}
      <tr {{action "toggle" rowData "rowClick"}} class={{if rowData.isExpanded "is-expanded"}}>
        {{#each headerDefinition as |column|}}
          <td>          
            {{yield (hash itemTemplate=(component "tr-table/tr-table-cell-presenter" 
              value=(get rowData (get column "attributeName"))
              column=column.attributeName 
              toggleRowExpansion=(action "toggle" rowData "custom")))}}
          </td>
        {{/each}}
      </tr>
      {{#if rowData.isExpanded}}
        <tr>
          <td colspan={{get headerDefinition "length"}}>
            {{yield (hash childTemplate=(component "tr-table/tr-table-row-extend-presenter" rowData=rowData))}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>